/* VARIABLES */
:root {
	--primary-color-100: #fff;
	--primary-color-200: #ebebeb;
	--primary-color-400: #555;
	--js-color-100: #d6ba32;
	--js-color-200: #fffae0;
	--css-color-100: #285ea8;
	--html-color-100: #c14723;
	--primary-color-900: #6f00ff;
	--secondary-color-900: rgb(255, 213, 73);
	--box-shadow-500: 2px 2px 5px rgba(170, 169, 169, 0.5);
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
a:active,
a:visited {
	color: var(--primary-color-700);
}

body {
	width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
